name: Spell-Stockfish CI
on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: src
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install test dependencies
        run: |
          sudo apt update
          sudo apt install expect

      - name: Build (x86-64)
        run: |
          make clean
          make -j2 ARCH=x86-64 build

      - name: Protocol tests
        run: |
          ../tests/protocol.sh

      - name: Perft tests
        run: |
          ../tests/perft.sh
